h1{
        color: rgb(255, 255, 255);
    text-align: center;
    
}
h2{
    color: rgb(255, 255, 255);
    text-align: center;

    
}

.incendio{   
     margin-bottom: 30px;
    font-size: 50px;
text-align: center;
display: block;
background-color:white;
    width: 177;
    margin: 0 auto;
    color: white;
    text-decoration: none;
    border: 2px solid;
    margin-top: 20px;
}
.topo{ 
    width: 500px;
    height: 500px;
    margin: 0 auto;
margin-top: 40px;
    background-image: url(84417742.png);
    background-size: cover;

}
body{
    background-image: url("formacao-e-treinamento-de-brigada-de-incendio-florestal-01.jpg");
    color: #FFEB3B;
        color: #FFEB3B;
        background-size: cover;


}
form{
    margin: 0 auto;
    width: 750;
        width: 500px;
}